<form action="/reset/update/<%= accesstoken %>" method="POST">
    <p>password</p>
    <input type="text" name="password" required>
    <p>confirm password</p>
    <input type="text" name="confirm_password" required>
    <br>
    <input type="submit" value="Submit">
</form>