header {
    
    background-color: rgb(91, 91, 255);
    color: rgb(243, 239, 239);
    ul {
        display: flex;
        height: 10vh;
        list-style: none;    
        text-decoration: none;

        li {
            &:nth-child(1){
                margin-right: auto;
                font-size: 1.4rem;
                font-weight: 480;
                letter-spacing: 2px;
            }
            letter-spacing: 2px;
            font-weight: 430;
            padding-right: 14px;
            padding-left: 10px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

}